.container {
    font-size: 16px;
    max-width: 1440px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'Header Header Header'
    'Nav Cont Cont'
    'Nav Footer Footer'
    ;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr;
}
.header,
.content,
.nav,
.sidebar,
.footer {
    background-color: white;
    color: #fff;
    /* padding:20px; */
}
.header {
   grid-area: Header;
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 1;
}
.content {
    grid-area: Cont;
    margin-top:80px;
    
}
.nav {
    grid-area: Nav;
    
    
}
.footer {
    grid-area: Footer;
}





























.cont{
    max-width: 960px;
    margin: 100px auto;
    padding:10px;
    display: grid;
    /* select size of column with fraction */
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    /* sets height of rows */
    /* grid-auto-rows: min-content(200px, auto); */
    /* determines height */
    /* grid-template-rows: 1fr 3fr 3fr; */

    
}
/* .item {
    background-color: steelblue;
    color:#fff;
    font-size: 20px;
    padding:20px;
    border: skyblue 1px solid;
}
.item:nth-of-type(1){
    background-color:#000;
    grid-column: 1 / 4
}
.item:nth-of-type(2){
    background-color: purple;
    grid-row: 2 / 5;
}
.item:nth-of-type(3){
    background-color: red;
    
    grid-column: 2 / 4;
} */